.title {
    font-size: 20px;
    font-weight: 600;
}

.price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.price input {
    width: 100px;
    height: 42px;
    color: #ACACAC;
    padding: 10px;
    border-radius: 7px;
}